.tabel {
  margin-top: 50px;

  padding: 20px;
  border-radius: 8px;
  padding-bottom: 50px;
  margin-bottom: 100px;
  background-color: rgb(250, 234, 234);
}
.tr {
  width: 100%;
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-between;
  border-bottom: 1px solid rgb(208, 209, 210);
  margin-top: 20px;

  p {
    width: 20%;
  }
  p:nth-child(1) {
    width: 5%;
    padding-left: 10px;
  }
}
.like {
  svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}
.tr1 {
  width: 100%;
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-between;
  border-bottom: 1px solid rgb(208, 209, 210);
  margin-top: 20px;

  p {
    width: 20%;
  }
  p:nth-child(1) {
    width: 5%;
    padding-left: 10px;
  }
}
.edit {
  background-color: rgb(102, 105, 110);
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  outline: none;
  width: 60px;
  height: 40px;
  transition: 0.3s;
  svg {
    fill: white;
  }
}

.delete {
  background-color: rgb(249, 77, 95);
  border: none;
  border-radius: 8px;
  margin-right: 10px;
  color: #fff;
  cursor: pointer;
  margin-left: 20px;
  outline: none;
  width: 60px;
  height: 40px;
  transition: 0.3s;
  svg {
    fill: white;
  }
}

.delete:hover {
  background-color: rgb(249, 77, 95);
}

@media screen and (max-width: 780px) {
  .tr1 {
    height: 100px;
    p:nth-child(1) {
      width: auto;
    }
    p:last-child {
      display: grid;
      align-items: center;
      width: 10%;
    }
    .delete {
      margin: 0;
      margin-top: 10px;
      height: 35px;
      width: 40px;
      svg {
        width: 12px;
        height: 12px;
      }
    }
    .edit {
      height: 35px;
      width: 40px;
      svg {
        width: 12px;
        height: 12px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .tr {
    p:last-child {
      display: none;
    }
  }
  .tr1 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: baseline;
    position: relative;
    margin: 0;
    p:last-child {
      position: absolute;
      display: flex;
      align-items: center;
      width: auto;
      bottom: 5px;
      right: 0;
    }
    p {
      width: auto;
      padding-top: 25px;
    }

    .delete {
      margin: 0;
      margin-left: 10px;
    }
  }
}

.filter {
  width: 100%;
  padding-top: 30px;
  display: flex;
  .input {
    width: 70%;
    input {
      width: 100%;
      height: 50px;
      border: none;
      border-radius: 10px;
      outline: none;
      font-size: 17px;
      padding-left: 20px;
      box-shadow: 0px 0px 3px 3px rgb(196, 193, 193);
    }
  }
  .filter_item {
    width: 200px;
    margin-left: 40px;
    select {
      width: 100%;
      height: 50px;
      border: none;
      border-radius: 8px;
      outline: none;
      font-size: 17px;
      padding-left: 20px;
    }
  }
}

.btns {
  width: 40%;
  display: flex;
  justify-content: left;
  button {
    width: 25%;
    height: 50px;
    border: none;
    border-radius: 8px;
    color: #fff;
    outline: none;
    font-size: 17px;
    background-color: white;
    margin-left: 20px;
    cursor: pointer;
    background-color: rgb(235, 105, 200);
    &:hover {
      box-shadow: 0px 0px 10px 3px rgb(238, 193, 193);
      transition: 0.3s;
    }
  }
}
